<launch>
  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find rovi_industrial)/motoman/urdf/hc10.xacro'" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node pkg="rovi_utils" type="tf_euler.py" name="" />
  <node pkg="rovi_utils" type="tf_lookup.py" name="" />
  <param name="/config/rsocket/protocol" type="str" value="motoman" />
  <param name="/config/rsocket/reverse_direction" type="int" value="1" />
  <node pkg="rovi_industrial" type="r_socket.js" name="" output="screen" />
  <node pkg="rovi_industrial" type="r_client.js" name="" output="screen" />
  <node pkg="rovi_industrial" type="ycam3.py" name="" />
</launch>

